GROQ_BASE_URL=https://api.groq.com/openai/v1

# OPENAI_API_KEY=example_openai_api_key

ANYSCALE_TOKEN=example_anyscale_token
OPENAI_API_KEY=example_openai_api_key

GROQ_API_KEY=example_groq_api_key

DISCORD_BOT_TOKEN=example_discord_bot_token
DISCORD_CLIENT_ID=1186288013186179153

# Serp api token
SEARCH_API_KEY=example_search_api_key

NEXTCLOUD_USERNAME=anya
NEXTCLOUD_PASSWORD=example_password
NEXTCLOUD_URL=https://cloud.tokio.space

# points to link.raj.how instance
LINKWARDEN_API_KEY=example_linkwarden_api_key

# points to git git.raj.how instance
GITEA_TOKEN=example_gitea_token

NEXTCLOUD_USERNAME=raj
NEXTCLOUD_PASSWORD=example_password

MINIO_ACCESS_KEY=example_minio_access_key
MINIO_SECRET_KEY=example_minio_secret_key

RESEND_API_KEY=example_resend_api_key

HA_KEY=example_ha_key

EVENTS_PORT=6006

DISCORD_LOG_CHANNEL_ID=1177561269780363247

ANYA_DIR=./data